@import url(../font/roboto.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Roboto;
}
ul li {
	list-style-type: none;
}
li.active {
	background: #f0f1f1;
}
li::marker {
	display: none;
}
main {
	background-image: linear-gradient(105.26deg, #00ffea43 0%, #01315694 100%),
		url('../../public/background.png');

	background-size: 100% 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
div::-webkit-scrollbar {
	width: 0;
}
